.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}

.App input {
  width: 200px;
  margin: 10px;
  border: none;
  outline: none;
}
.App button {
  margin-right: 5px;
  margin-bottom: 25px;
  margin-top: 7px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: aquamarine;
  color: white;
}
.App button:hover {
  background-color: rgb(23, 202, 142);
  transition: ease-in, 0.5s;
}
.content {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.content h2 {
  margin: 7px;
}
